/* SCSS HEX */
$deep-champagne: #eacda3ff;
$cafe-noir: #422f0cff;
$tropical-rain-forest: #007663ff;
$gainsboro: #dfe0dfff;
$champagne-gradient: linear-gradient(to right, $deep-champagne, #D6AE7Bff);
$reverse-champagne-gradient: linear-gradient(to left, $deep-champagne, #D6AE7Bff);
$top-right-champagne-gradient: linear-gradient(to top right, #edd4b0ff, #d2a66fff);
$top-left-champagne-gradient: linear-gradient(to top left, #edd4b0ff, #d2a66fff);

@font-face {
	font-family: "Aclonica";
	src: url("Fonts/Aclonica/Aclonica.ttf") format("truetype");
}
@font-face {
	font-family: "Poppins";
	src: url("Fonts/poppins/Poppins-Regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Poppins";
	src: url("Fonts/poppins/Poppins-ExtraLightItalic.otf") format("opentype");
	font-weight: 200;
	font-style: italic;
}
@font-face {
	font-family: "Poppins";
	src: url("Fonts/poppins/Poppins-Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}

/* GLOBAL */
* {
	margin: 0;
	padding: 0;
}
body {
	width: calc(100vw - (100vw - 100%));
	min-height: 100vh;
	background: $champagne-gradient;
	font-family: "Poppins", sans-serif;
	font-size: 13px;
}
h1 {
	font-family: "Aclonica", sans-serif;
	font-size: calc(1.68em + 3.38vw);
}
h2 {
	font-family: "Aclonica", sans-serif;
	font-size: calc(1.47em + 1.3vw);
	margin-left: 7%;
	margin-top: 2%;
}
h3 {
	font-weight: normal;
	font-size: calc(1.27em + 0.49vw);
}
h4 {
	font-weight: 500;
	font-size: calc(1.16em + 0.45vw);
}
p {
	font-size: 1em;
}
.info-plus {
	font-weight: 200;
	font-style: italic;
	font-size: 1em;
}
a {
	display: inline-block;
	position: relative;
	color: black;
	text-decoration: none;
}
a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: $tropical-rain-forest;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
@media (hover: none) {
	a:after {
		transform: scaleX(1);
		transform-origin: bottom left;
	}
}
/* GLOBAL */

/* HEADER */
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;

	p {
		margin: auto 20px;
		font-family: "Aclonica", sans-serif;
		font-size: 1em;
		visibility: hidden;
	}
	div {
		margin: 20px;
		display: flex;
		justify-content: space-between;
		align-content: center;
		z-index: 10;

		span {
			width: 24px;
			height: 24px;
			margin-right: 20px;
		}
		img {
			width: 20px;
			height: 20px;
		}
	}

	span {
		opacity: 0;
	}
}
.first-page-hidden {
	transition: opacity 2s;
}
/* HEADER */

/* CONTENT */
.content {
	visibility: hidden;
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.current-content {
	visibility: visible;
	height: auto;
	width: auto;
	position: static;
	display: block;
	animation: appear 2s forwards;

	.anim-appear-diamond {
		overflow: hidden;
	}
	.anim-slide-in-1 {
		animation: slide-in-1 3s;
	}
	.anim-slide-in-2 {
		animation: slide-in-2 4s;
	}
	.anim-slide-in-3 {
		animation: slide-in-3 5s;
	}
	.anim-slide-in-h1 {
		animation: slide-in-h1 2.5s;
	}
	.anim-slide-in-h2 {
		animation: slide-in-h2 3s;
	}
	.anim-slide-in-h3 {
		animation: slide-in-h3 3.5s;
	}
	.anim-slide-in-h4 {
		animation: slide-in-h4 4s;
	}
	.anim-slide-in-h5 {
		animation: slide-in-h5 4.5s;
	}
	.anim-slide-in-h6 {
		animation: slide-in-h6 5s;
	}
	.anim-reveal {
		animation: reveal 6s;
	}
	.dot-95 {
		animation: increase-95 2s 1s;
		animation-fill-mode: forwards;
	}
	.dot-80 {
		animation: increase-80 2s 1s;
		animation-fill-mode: forwards;
	}
	.dot-70 {
		animation: increase-70 2s 1s;
		animation-fill-mode: forwards;
	}
	.dot-60 {
		animation: increase-60 2s 1s;
		animation-fill-mode: forwards;
	}
	.dot-50 {
		animation: increase-50 2s 1s;
		animation-fill-mode: forwards;
	}
}
.anim-leave-first {
	animation: header-l 1s 1s forwards;

	h1 {
		animation: shrink 1s 1s forwards !important;
	}
	h3, p, span {
		animation: disappear 3s;
	}
}
.anim-leave-page {
	animation: leave 2s;
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes leave {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes disappear {
	0% {
		opacity: 1;
	}
	33% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes slide-in-1 {
	0% {
		transform: translateX(-350px);
	}
	33% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-2 {
	0% {
		transform: translateX(-350px);
	}
	50% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-3 {
	0% {
		transform: translateX(-350px);
	}
	60% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-h1 {
	0% {
		transform: translateX(-350px);
	}
	40% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-h2 {
	0% {
		transform: translateX(-350px);
	}
	50% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-h3 {
	0% {
		transform: translateX(-350px);
	}
	57% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-h4 {
	0% {
		transform: translateX(-350px);
	}
	62% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-h5 {
	0% {
		transform: translateX(-350px);
	}
	67% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes slide-in-h6 {
	0% {
		transform: translateX(-350px);
	}
	70% {
		transform: translateX(-350px);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes reveal {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes header-l {
	0% {}
	100% {
		left: 20px;
		top: 25.3px;
	}
}
@keyframes shrink {
	0% {}
	100% {
		font-size: 0.95em;
		margin-left: 0;
	}
}
@keyframes increase-95 {
	0% {
		opacity: 0;
		right: 246px;
	}
	100% {
		opacity: 1;
		right: 3.8px;
	}
}
@keyframes increase-80 {
	0% {
		opacity: 0;
		right: 246px;
	}
	100% {
		opacity: 1;
		right: 14.2px;
	}
}
@keyframes increase-70 {
	0% {
		opacity: 0;
		right: 246px;
	}
	100% {
		opacity: 1;
		right: 39.8px;
	}
}
@keyframes increase-60 {
	0% {
		opacity: 0;
		right: 246px;
	}
	100% {
		opacity: 1;
		right: 65.4px;
	}
}
@keyframes increase-50 {
	0% {
		opacity: 0;
		right: 246px;
	}
	100% {
		opacity: 1;
		right: 91px;
	}
}
@keyframes typing {
	from {
		width: 0;
	}
}

.home-content {
	position: absolute;
	left: 20%;
	top: 28%;
	width: 690px;

	h1 {
		width: 13ch;
		white-space: nowrap;
		overflow: hidden;
		animation: typing 2s steps(17);
	}
	h3 {
		margin: 10px;
		margin-left: 5px;
	}
	.home-contact {
		display: flex;
		flex-direction: row;
		align-content: center;
		margin-top: 100px;
		margin-left: 5px;

		span {
			margin-right: 5px;
			margin-top: -2px;
		}
		p {
			flex: auto;
		}
	}
}
@media (max-width: 1000px) {
	.home-content {
		left: 0;
		width: 100%;
		padding: 0;
		text-align: center;

		h1 {
			text-align: left;
			margin-left: 20px;
			margin-bottom: 40px;
		}
		h3 {
			margin-left: 10px;
		}

		.home-contact {
			display: block;
			margin-left: 0px;
			margin-top: 60px;

			span {
				margin-right: 0;
				margin-top: 20px;
			}
		}
	}
}

.educ-content {
	.diamonds {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		min-width: 700px;
		display: flex;
		flex-direction: column;
		align-content: center;
		justify-content: center;

		.anim-appear-diamond {
			width: 354px;
			height: 354px;
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			transition: background 0.5s ease-out;

			&:hover {
				background: $tropical-rain-forest;
			}
		}
		.diamond {
			width: 350px;
			height: 350px;
			margin-top: 2px;
			margin-left: 2px;
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			h4 {
				margin-bottom: 25px;
				width: 220px;
			}
			p {
				width: 330px;
			}
			.info-plus {
				margin-top: 25px;
				width: 150px;
			}
		}
		.d1-only {
			display: flex;
			flex-direction: row;
			justify-content: center;

			.d1 {
				background: $top-right-champagne-gradient;
			}
		}
		.d2-3 {
			margin-top: -150px;
			display: flex;
			flex-direction: row;
			justify-content: center;

			.anim-appear-diamond:nth-of-type(1) {
				margin-right: 50px;
			}
			.d2 {
				background: $reverse-champagne-gradient;
			}
			.d3 {
				background: $top-left-champagne-gradient;

				h4 {
					margin-bottom: 15px;
				}
				.info-plus {
					margin-top: 45px;
					margin-bottom: 23px;
				}
			}
		}
	}

	.diplomas {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: -1;

		.diploma {
			display: flex;
			flex-direction: row;
			width: 150px;
			margin-top: 10px;
			margin-left: 850px;

			&:first-child {
				margin-top: 430px;
			}
			span {
				height: 32px;
				width: 32px;
				margin-right: 3px;
			}
			h4 {
				font-size: 1em;
			}
			p {
				font-size: 0.9em;
			}
		}
	}
}
@media (max-width: 1000px) {
	.educ-content .diamonds {
		display: block;
		min-width: auto;
		top: calc(100px + 3vh);

		.anim-appear-diamond, .diamond {
			clip-path: none;
		}
		.anim-appear-diamond {
			height: 204px;
		}
		.diamond {
			height: 200px;

			h4 {
				margin-bottom: 25px;
				width: 100%;
			}
			p {
				width: 100%;
			}
			.info-plus {
				margin-top: 25px;
				width: 100%;
			}
		}
		.d1-only .d1 {
			background: $reverse-champagne-gradient;
		}
		.d2-3 {
			margin-top: 0;
			display: block;
			.anim-appear-diamond:nth-of-type(1) {
				margin-right: auto;
			}
			.anim-appear-diamond:nth-of-type(2) {
				margin-bottom: 45px;
			}
			.anim-appear-diamond {
				margin: 20px auto 0 auto;
			}

			.d3 {
				background: $reverse-champagne-gradient;

				h4 {
					margin-bottom: 25px;
				}
				.info-plus {
					margin-top: 25px;
					margin-bottom: 0;
				}
			}
		}
	}

	.educ-content .diplomas {
		position: static;
		width: auto;
		height: auto;
		margin-bottom: 60px;
		.diploma {
			margin-left: 0;
			margin: auto;
			&:first-child {
				margin-top: 672px;
				margin-bottom: 10px;
			}
		}
	}
}

.exp-content {
	top: -300px;
	left: -300px;
	.carousel {
		display: flex;
		width: 100%;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-140px);
		opacity: 0;
		transition: opacity 2s 1s;

		&__list {
			display: flex;
			list-style: none;
			position: relative;
			width: 100%;
			height: 400px;
			margin: auto;
			justify-content: center;
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			width: 550px;
			height: 360px;
			position: absolute;
			transition: all .3s ease-in, box-shadow 0.5s ease-out;
			background: $reverse-champagne-gradient;
			background-size: 100% 100%;
			background-position: left;
			text-align: justify;

			&:hover {
				box-shadow: inset 0 0 0 1.5px $tropical-rain-forest;
			}
			h4, p, div {
				margin-left: 30px;
				margin-right: 30px;
			}
			h4 {
				margin-top: 20px;
			}
			p {
				margin-bottom: 15px;
			}
			a{
				position: relative;

				&::before, &::after {
					position: absolute;
					content: "";
					left: 0;
					bottom: 0;
					display: block;
					width: 100%;
					height: 1px;
					transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
				}
				&::before {
					transform: scaleX(0);
					background: $tropical-rain-forest;
					transform-origin: left;
				}

				&::after {
					transform: scaleX(1);
					background: $gainsboro;
					transform-origin: right;
					transition-delay: 0.25s;
				}
  
				&:hover {
					&::before {
						transform: scaleX(1);
						transition-delay: 0.25s;
						height: 2px;
					}

					&::after {
						transform: scaleX(0);
						transition-delay: 0s;
						height: 2px;
					}
				}
				@media (hover: none) {
					&::after {
						transform: scaleX(0);
					}
					&::before {
						transform: scaleX(1);
						height: 2px;
					}
				}
			}
			.keywords {
				display: flex;
				flex-direction: row;
				margin-bottom: 20px;

				ul {
					flex: 1 1 max-content;
					list-style: none;

					li {
						margin-top: 20px;
					}
					li::before {
						content: "\25CF";
						font-weight: bold;
						display: inline-block;
						margin-right: 5px;
					}
				}
				.tech {
					li::before {
						color: $gainsboro;
					}
				}
				.soft {
					li::before {
						color: $cafe-noir;
					}
				}
			}

			&[data-pos="0"] {
				z-index: 5;
				transition: all .3s ease-in, z-index .1s ease-in, background .1s ease-in, box-shadow 0.5s ease-out;
			}

			&[data-pos="-1"] {
				transform: translateX(-100px) scale(.9);
				z-index: 4;
				background: $reverse-champagne-gradient;
				background-size: 100px 90%;

				&:hover {
					transform: translateX(-140px) scale(.9);
					background-size: 140px 90%;

					h4 {
						transform: none;
						margin-top: 20px;
						margin-left: 20px;
						max-width: 100px;
						min-height: 70px;
						max-height: 70px;
						white-space: normal;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					p {
						height: 0;
					}
					.info-plus {
						transform: none;
						max-width: 100px;
						height: auto;
						margin-left: 20px;
					}
					.tech {
						visibility: visible;
						max-width: 100px;
						margin-left: -15px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				p, .keywords {
					visibility: hidden;
				}
				h4 {
					transform-origin: top left;
					transform: rotate(-90deg) translateX(-110%) translateY(-8px);
					width: max-content;
					max-width: 225px;
					margin-top: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.info-plus {
					visibility: visible;
					transform-origin: top left;
					transform: rotate(-90deg) translateX(-310px);
					max-width: 80px;
				}
			}

			&[data-pos="1"] {
				transform: translateX(100px) scale(.9);
				z-index: 4;
				background: $reverse-champagne-gradient;
				background-size: 100px 90%;
				background-position: right;

				&:hover {
					transform: translateX(140px) scale(.9);
					background-size: 140px 90%;
					align-items: flex-end;

					h4 {
						transform: none;
						margin-top: 20px;
						margin-right: 20px;
						max-width: 90px;
						min-height: 70px;
						max-height: 70px;
						white-space: normal;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					p {
						height: 0;
					}
					.info-plus {
						transform: none;
						min-width: 90px;
						height: auto;
						margin-right: 20px;
						margin-left: 0px;
					}
					.tech {
						visibility: visible;
						width: 90px;
						margin-right: -7px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.soft {
						display: none;
					}
				}
				p, .keywords {
					visibility: hidden;
				}
				h4 {
					transform-origin: top left;
					transform: rotate(90deg) translateX(20px) translateY(-495px);
					width: max-content;
					max-width: 225px;
					margin-top: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.info-plus {
					visibility: visible;
					transform-origin: top left;
					transform: rotate(90deg) translateX(240px) translateY(-486px);
					max-width: 80px;
				}
			}

			&[data-pos="-2"] {
				transform: translateX(-190px) scale(.8);
				z-index: 3;
				background: $reverse-champagne-gradient;
				background-size: 100px 80%;

				&:hover {
					transform: translateX(-230px) scale(.8);
					background-size: 230px 80%;

					h4 {
						transform: none;
						margin-top: 20px;
						margin-left: 20px;
						max-width: 100px;
						min-height: 70px;
						max-height: 70px;
						white-space: normal;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					p {
						height: 0;
					}
					.info-plus {
						transform: none;
						max-width: 100px;
						height: auto;
						margin-left: 20px;
					}
					.tech {
						visibility: visible;
						max-width: 100px;
						margin-left: -15px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				p, .keywords {
					visibility: hidden;
				}
				h4 {
					transform-origin: top left;
					transform: rotate(-90deg) translateX(-110%) translateY(-8px);
					width: max-content;
					max-width: 200px;
					margin-top: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.info-plus {
					visibility: visible;
					transform-origin: top left;
					transform: rotate(-90deg) translateX(-310px);
					max-width: 80px;
				}
			}

			&[data-pos="2"] {
				transform: translateX(190px) scale(.8);
				z-index: 3;
				background: $reverse-champagne-gradient;
				background-size: 100px 80%;
				background-position: right;

				&:hover {
					transform: translateX(230px) scale(.8);
					background-size: 230px 80%;
					align-items: flex-end;

					h4 {
						transform: none;
						margin-top: 20px;
						margin-right: 20px;
						max-width: 90px;
						min-height: 70px;
						max-height: 70px;
						white-space: normal;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					p {
						height: 0;
					}
					.info-plus {
						transform: none;
						min-width: 90px;
						height: auto;
						margin-right: 20px;
						margin-left: 0px;
					}
					.tech {
						visibility: visible;
						width: 90px;
						margin-right: -7px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					.soft {
						display: none;
					}
				}
				p, .keywords {
					visibility: hidden;
				}
				h4 {
					transform-origin: top left;
					transform: rotate(90deg) translateX(20px) translateY(-495px);
					width: max-content;
					max-width: 225px;
					margin-top: 0;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				.info-plus {
					visibility: visible;
					transform-origin: top left;
					transform: rotate(90deg) translateX(240px) translateY(-486px);
					max-width: 80px;
				}
			}
		}
	}
}
.current-content {
	.carousel {
		opacity: 1;
	}
}
@media (max-width: 900px) {
	.exp-content .carousel {
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-top: 20px;
		position: static;
		transform: none;

		&__item {
			width: 100%;
			height: auto;
			overflow: scroll;

			@media (max-width: 455px) {
				.keywords {
					flex-direction: column;
				}
			}

			&[data-pos="-2"], &[data-pos="2"] {
				display: none;
			}
			&[data-pos="-1"] {
				display: flex;
				z-index: 6;
				background: $reverse-champagne-gradient;
				width: 20px;
				height: 30px;
				position: absolute;
				top: 50%;
				left: 2px;
				transform: translateY(-100%);

				p, .keywords, h4, .info-plus {
					visibility: hidden;
				}
				&:after {
					content: "<";
					color: $cafe-noir;
					font-size: 26px;
					width: 20px;
					height: 30px;
					position: absolute;
					top: -4px;
					right: -2px;
				}
				&:hover {
					transform: translateY(-100%);
					background-size: 100%;
					.tech {
						visibility: hidden;
					}
				}
			}
			&[data-pos="1"] {
				display: flex;
				z-index: 6;
				background: $reverse-champagne-gradient;
				width: 20px;
				height: 30px;
				position: absolute;
				top: 50%;
				right: 2px;
				transform: translateY(-100%);

				p, .keywords, h4, .info-plus {
					visibility: hidden;
				}
				&:after {
					content: ">";
					color: $cafe-noir;
					font-size: 26px;
					width: 20px;
					height: 30px;
					position: absolute;
					top: -4px;
					left: 2px;
				}
				&:hover {
					transform: translateY(-100%);
					background-size: 100%;
					.tech {
						visibility: hidden;
					}
				}
			}
		}
	}
}

.skil-content {
	top: -300px;
	left: -300px;
	.container-s {
		display: flex;
		width: 100%;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-160px);
		opacity: 0;
		transition: opacity 2s 1s;
	}
	.charts {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 1000px;
		margin: auto;

		.bars {
			width: 270px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}
		.bar {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			background: $reverse-champagne-gradient;
			margin-top: 25px;
			padding: 0 5px;
			width: 255px;
			height: 23px;
			transition: box-shadow 0.5s ease-out;

			&:hover {
				box-shadow: inset 0 0 0 1.5px $tropical-rain-forest;
			}
			.info-plus {
				position: relative;
				opacity: 0;

				&::before {
					content: "";
					display: inline-block;
					position: relative;
					vertical-align: middle;
					margin-right: 5px;
					background: $cafe-noir;
					width: 20px;
					height: 20px;
					border-radius: 50px;
				}
			}
			.dot-95 {
				right: 3.8px;

				&::before {
					display: none;
				}
				&::after {
					content: "";
					display: inline-block;
					position: relative;
					bottom: 1px;
					vertical-align: middle;
					margin-left: 5px;
					background: $cafe-noir;
					width: 20px;
					height: 20px;
					border-radius: 50px;
				}
			}
			.dot-80 {
				right: 14.2px;
			}
			.dot-70 {
				right: 39.8px;
			}
			.dot-60 {
				right: 65.4px;
			}
			.dot-50 {
				right: 91px;
			}
		}

		.tools {
			text-align: center;
			width: 270px;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.losange {
			display: flex;
			width: 254px;
			height: 254px;
			align-items: center;
			position: relative;
			margin-top: 30px;

			.bg-wrapper {
				width: 254px;
				height: 254px;
				clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				transition: background 0.5s ease-out;
				z-index: 1;

				&:hover {
					background: $tropical-rain-forest;
				}
			}
			.bg {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 0;
				width: 250px;
				height: 250px;
				margin-top: 2px;
				margin-left: 2px;
				clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
				background: $reverse-champagne-gradient;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					width: 140px;
				}
				.tool {
					margin-top: -20px;
					margin-bottom: 10px;
					font-size: 1.2em;
				}
			}

			&__list {
				display: flex;
				list-style: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 250px;
				height: 250px;
				justify-content: center;
			}

			&__item {
				width: 30px;
				height: 30px;
				position: absolute;
				transition: all .3s ease-in;
				vertical-align: middle;
				text-align: center;
				z-index: 2;
				cursor: pointer;

				img {
					width: 20px;
					height: 20px;
					opacity: 0.8;
				}

				&[data-pos="0"] {
					left: -10px;
					top: 110px;

					img {
						width: 30px;
						height: 30px;
						opacity: 1;
					}
				}

				&[data-pos="-1"] {
					left: 112px;
					top: 240px;
				}

				&[data-pos="1"] {
					left: 112px;
					top: -10px;
				}

				&[data-pos="-2"] {
					left: 172px;
					top: 180px;
				}

				&[data-pos="2"] {
					left: 172px;
					top: 50px;
				}

				&[data-pos="3"] {
					left: 235px;
					top: 115px;
				}
			}
		}

		.language {
			width: 270px;
			text-align: right;

			h4 {
				width: 150px;
				margin-bottom: 20px;
			}
		}
		.anim-appear-diamond {
			width: 141px;
			height: 162px;
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			transition: background 0.5s ease-out;
			margin-bottom: -60px;
			padding: 2px;

			&:hover {
				background: $tropical-rain-forest;
			}
		}
		.anim-tr-1 {
			clip-path: polygon(0 50%, 100% 100%, 100% 0);
		}
		.anim-tr-2 {
			clip-path: polygon(0 0, 100% 50%, 0 100%);
		}
		.triangle {
			width: 140px;
			height: 161px;
			background: $reverse-champagne-gradient;
			display: flex;
			flex-direction: column;
			justify-content: center;

			p {
				margin: 0 5px;
			}
		}
		.tr-1 {
			clip-path: polygon(0 50%, 100% 100%, 100% 0);
			margin-left: 1px;
		}
		.tr-2 {
			clip-path: polygon(0 0, 100% 50%, 0 100%);
			text-align: left;
		}
		.last-tr {
			margin-bottom: 10px;
		}
	}
}
.current-content {
	.container-s {
		opacity: 1;
	}
}
@media (max-width: 1000px) {
	.skil-content .container-s {
		margin-top: 20px;
		position: static;
		transform: none;
	}
	.skil-content .container-s .charts {
		display: block;
		width: auto;

		.bars {
			align-items: center;
			margin-bottom: 30px;
		}
		.tools {
			margin-bottom: 30px;
		}
		.language {
			display: flex;
			flex-direction: column;
			align-items: center;
			h4 {
				width: auto;
			}
		}
	}
}

.hobb-content {
	.container {
		display: flex;
		width: 100%;
		align-items: center;
		position: absolute;
		top: 50%;
		transform: translateY(-200px);
	}
	.hobbies {
		margin: auto;
		display: flex;
		flex-direction: row;
		width: 1010px;
		height: 520px;
		position: relative;
		margin-bottom: 10px;

		.anim-appear-diamond {
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			transition: background 0.5s ease-out;
			position: absolute;
			flex-shrink: 0;

			&:hover {
				background: $tropical-rain-forest;
			}
		}
		.hobby {
			clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
			background: $top-left-champagne-gradient;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: calc(100% - 4px);
			width: calc(100% - 4px);
			margin-left: 2px;
			margin-top: 2px;

			h4 {
				width: 80%;
				margin-top: 5px;
			}
			p {
				width: 80%;
				margin-top: 10px;
			}
			.info-plus {
				width: 55%;
			}
		}
		.psycho {
			top: 0;
			left: 0;
			width: 350px;
			height: 350px;
		}
		.draw {
			top: 205px;
			left: 225px;
			width: 270px;
			height: 270px;
		}
		.travel {
			top: 65px;
			left: 390px;
			width: 260px;
			height: 260px;

			h4 {
				width: 70%;
			}
			p {
				width: 55%;
			}
		}
		.post {
			top: 250px;
			left: 505px;
			width: 260px;
			height: 260px;

			a{
				position: relative;

				&::before, &::after {
					position: absolute;
					content: "";
					left: 0;
					bottom: 0;
					display: block;
					width: 100%;
					height: 1px;
					transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
				}
				&::before {
					transform: scaleX(0);
					background: $tropical-rain-forest;
					transform-origin: left;
				}

				&::after {
					transform: scaleX(1);
					background: $gainsboro;
					transform-origin: right;
					transition-delay: 0.25s;
				}
  
				&:hover {
					&::before {
						transform: scaleX(1);
						transition-delay: 0.25s;
						height: 2px;
					}

					&::after {
						transform: scaleX(0);
						transition-delay: 0s;
						height: 2px;
					}
				}
				
				@media (hover: none) {
					&::after {
						transform: scaleX(0);
					}
					&::before {
						transform: scaleX(1);
						height: 2px;
					}
				}
			}
		}
		.volunteer {
			top: 130px;
			left: 675px;
			width: 235px;
			height: 235px;

			p {
				width: 70%;
			}
		}
		.read {
			top: 300px;
			left: 780px;
			width: 225px;
			height: 225px;

			p {
				width: 60%;
			}
		}
	}
}
@media (max-width: 1130px) {
	.hobb-content .container {
		align-items: flex-start;
		position: static;
		transform: none;

		.hobbies {
			width: 540px;
			height: auto;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;

			.hobby {
				h4 {
					width: 70%;
				}
			}
			.travel {
				left: 65px;
				top: 355px;
			}
			.post {
				left: 250px;
				top: 475px;
			}
			.volunteer {
				left: 130px;
				top: 645px;
			}
			.read {
				left: 300px;
				top: 750px;
			}
		}
	}
}
@media (max-width: 500px) {
	.hobb-content .container {
		align-items: flex-start;
		.hobbies {
			width: 100%;
			height: auto;
			flex-direction: column;
			margin-left: auto;
			margin-right: auto;

			.anim-appear-diamond {
				display: block;
				position: static;
				margin-left: auto;
				margin-right: auto;
			}
			.hobby {
				h4 {
					width: 60%;
				}
			}
		}
	}
}
/* CONTENT */

/* DOTS */
.dots {
	z-index: -1;
	position: absolute;
	right: 2%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;

	.dot {
		margin-top: 5px;
		margin-bottom: 5px;
		width: 12px;
		height: 12px;
		border-radius: 100%;
		background-color: $gainsboro;
	}
	.current-page {
		background-color: $tropical-rain-forest;
	}
}
/* DOTS */

/* UP AND DOWN */
.down-button {
	position: fixed;
	bottom: 0;
	left: 50vw;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-content: center;
	z-index: 10;
	cursor: pointer;
	opacity: 1;

	div {
		background-color: $deep-champagne;
		border-radius: 60px 60px 0 0;
		width: 80px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-content: center;

		span {
			margin-top: 10px;
			color: $cafe-noir;
		}
	}
}
.last-page-hidden {
	transition: opacity 2s;
}
.up-button {
	position: absolute;
	top: 0;
	left: 50vw;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-content: center;
	opacity: 0;
	z-index: 10;
	cursor: pointer;

	div {
		background-color: $deep-champagne;
		border-radius: 0 0 60px 60px;
		width: 80px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-content: center;

		span {
			margin-top: 5px;
			color: $cafe-noir;
		}
	}
}
/* UP AND DOWN */